*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #F5F6F7;
    margin: 0;
}

.header{
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(228, 202, 168);
    padding: 20px;
    color: #000040;
    border-bottom: 4px solid #000040;
}

/*flex-container*/
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 1500px;
    margin: 0 auto;
    gap: 16px;
    /* background-color: green; */
}

/*flex-items*/
.gallery img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover; /*tries to put the whole content inside the container the element is in*/
    /* margin: 5px; */
    border-radius: 10px;
}